* { 
  margin: 0px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}
.main header {
  background: #222;
  color: white;
  height: 40px;
  width: calc(100% - 10px);
  padding: 5px;
  display: flex;
  text-wrap: nowrap;
  position: sticky;
  top: 0;
}
.main header div#logo {
  width: 150px;
  height: 40px;
  line-height: 40px;
}
.main header div#logo img {
  height: 25px;
  margin-top: 7.5px
}

#timeline {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

#timeline li {
  background:white;
  display: flex;
  margin-bottom: 20px;
  min-width: 100%;
}
#timeline li img {
  width: 50px;
  height: 50px
}
#timeline li div div{
  min-width: 100%;
  overflow: hidden;
  display: flex;
  word-wrap: break-word;
  text-wrap: wrap;
  margin-left: 0;
}

#timeline li div div span{
  width: fit-content;
  margin: 0 auto;
  margin-right: 0px;
  text-wrap: wrap;
  color: grey;
  word-wrap: break-word;
}

#timeline li div{
  margin-left: 10px;
  width: calc(100% - 10px);
  flex-wrap: wrap;
  text-wrap: wrap;
  word-break: break-all;
}
#timeline li div div i {
  width: 24px;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  color: darkred;
  font-weight: 600;
}

#timeline li span#actionPanel{
  display: flex !important;
  margin: 0 auto;
  margin-right: 0px !important;
  height: 25px;
  width: fit-content;
  background-color: grey;
  padding-left: 5px;
}
#timeline li i#CommentAction{
  font-size: 20px;
  display: flex;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
}
#timeline li i#CommentAction:hover{
  color: red;
}

form {
  position: sticky;
  bottom: 0;
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}

form input#input {
  width: calc(100% - 30px);
  height: 20px;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  margin-right: 10px;
  border: lightgrey solid 2px;
}
form button {
  display: flex;
  min-width:  40px !important;
  height: 40px;
  padding: 5px;
  line-height: 40px;
  border: none;
  margin-top: 2px;
  font-size: 20px;
  background: #333;
  color: white;
  border-radius: 50%;
  /* border: #333 solid 2px; */
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; */
}
form button i {
  line-height: 30px !important;
  width: 100%;
}
